extends ./layout.pug
block title
    title KHURS Check my reservation list
block inline_css
    style(type='text/css').
        .table td, .table th {
            text-align: center;
        }
block content
    h1 My Reservation Lists
    hr

    if query.success === 'true'
        div.alert.alert-success.alert-dismissible.fade.show(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
            | #{query.message}
        hr
    else if query.success === 'false'
        div.alert.alert-warning.alert-dismissible.fade.show(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
            | #{query.message}
        hr

    p User Information
        ul
            li ID: #{session.user_info.id}
            li Email: #{session.user_info.email}
    hr

    h3 Reservations
    h6.text-muted 예약 목록

    -var rentals = [{'id': 3, 'equipment_name':'iPad 5세대', 'rental_start_time': '2017-12-19 15:00:00', 'rental_end_time': '2017-12-31 18:00:00', 'reason': '동아리 프로젝트'}];
    if rentals
        table.table.table-bordered
            thead.thead-default
                tr
                    th id
                    th equipment name
                    th rental start time
                    th rental end time
                    th reason
                    th cancel
            tbody
                each rental in rentals
                    tr
                        td #{rental.id}
                        td #{rental.equipment_name}
                        td #{rental.rental_start_time}
                        td #{rental.rental_end_time}
                        td #{rental.reason}
                        td
                            form(action="/equipment_check", method="post")
                                input(type='hidden', name='rental_id', value=rental.id)
                                //input(type='hidden', name='date', value=rental.date.toISOString().slice(0, 10))
                                input(type='hidden', name='equipment_id', value=rental.equipment_id)
                                input(type='hidden', name='rental_start_time', value=rental.rental_start_time)
                                input(type='hidden', name='rental_end_time', value=rental.rental_end_time)
                                button.btn.btn-danger(type='submit') Cancel
    else
        p No results.

    hr

    h3 Waitings
    h6.text-muted 예약 대기 목록
    if rental_waitings
        table.table.table-bordered
            thead.thead-default
                tr
                    th id
                    th date
                    th classroom name
                    th rental start time
                    th rental end time
                    th reason
                    th cancel
            tbody
                each rental in rental_waitings
                    tr
                        td #{rental.id}
                        td #{rental.date.toISOString().slice(0, 10)}
                        td #{rental.classroom_name}
                        td #{rental.rental_start_time}
                        td #{rental.rental_end_time}
                        td #{rental.reason}
                        td
                            form(action="/classroom_check", method="post")
                                input(type='hidden', name='rental_id', value=rental.id)
                                input(type='hidden', name='date', value=rental.date.toISOString().slice(0, 10))
                                input(type='hidden', name='classroom_id', value=rental.classroom_id)
                                input(type='hidden', name='rental_start_time', value=rental.rental_start_time)
                                input(type='hidden', name='rental_end_time', value=rental.rental_end_time)
                                button.btn.btn-danger(type='submit') Cancel
    else
        p No results.

    hr
    p.text-muted It is the data confirmed on #{new Date()}, please contact the administrative office (032-201-2501) for details.
    hr
    h5 Print rental confirmation
    a.btn.btn-secondary(href='#', onclick='window.print();return false;') Print
    hr